.container {
    display : grid;
    height: 200vh;
    width: 100vw;
    grid-template-rows: 8fr 8fr;
    grid-template-columns: 1fr 0.5fr;
    background-color: black;

}
.image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url("https://github.com/san12003/SCT_WD_1/blob/main/src/assets/Untitled%20design%20(1).jpg?raw=true");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin : 20vh 10vw 20vh 0vw;

}
.contact{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 25vh 5vw 25vh 0vw;

    h1{
        margin-bottom: 2vh;
    }
    p{
        margin-top:3vh;
    }
    svg{
        height:3vh;
        width:5vh;
        margin-right:1vw;
        margin-top: 2vh;
    }

}
.thankyou{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url("src/assets/Untitled design (1).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:80vh;
    width: 80vw;
    padding: 2vh 5vw;
    margin: 8vh 5vw 8vh 4.5vw;

    h1{
        margin-left: 35vw;
        margin-bottom: 4vh;
        font-size: 7rem;
    }
    .line{
        margin-left: 77vh;
    }
    p{
        margin-left: 35.5vw;
        font-size: .8rem;
    }

}
.line {
    width: 100px;
    height: 2px;
    background-color: white;
    border: none;
    margin: 0;
}
