@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Petit+Formal+Script&display=swap');
.container {
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    background-size: cover;
    background-image: url('https://github.com/san12003/SCT_WD_1/blob/main/src/assets/background.jpg?raw=true');
    background-repeat : no-repeat;
    background-attachment: fixed;
    display : grid;
    grid-template-rows: 0.45fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.cardone {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    padding: 60px 80px;


    .company {
        font-family: "Petit Formal Script", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 5rem;
        margin-bottom: 0;
    }
    .largeK {
        font-size: 9rem;
        text-align: center;
    }


    .type {
        text-shadow: 5px 5px 20px black;
        font-size: 7rem;
        margin-bottom: 0;
    }
    .line {
        width: 100px;
        height: 2px;
        background-color: white;
        border: none;
        margin : 0;
    }
}
.cardtwo {
    grid-column-start: 1 ;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-end: 2;
    background-color: #25251b;

    img {
        width: 50vw;
        height: 60vw;

    }

}
.cardthree {
    grid-column-start: 2 ;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-end: 2;
    background-color: #000000;
    padding: 5rem 8rem;
    h1 {
        width: 30vw;
    }
    .linetwo {
        width: 70px;
        height: 2px;
        background-color: white;
        border: none;
        margin : 0;
    }
    p {
        text-align: justify;
        margin: 50px 0;
        font-size: 0.8rem;
    }

}
